<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
     <label for="name">Team Name:</label>
     <p><input type="text" name="name"></p>
     
     <label for="c">Coach:</label>
     <p><input type="text" name="c"></p>
     
     <label for="pg">Point Guard:</label>
     <p><input type="text" name="pg"></p>
     
     <label for="sg">Shooting Guard:</label>
     <p><input type="text" name="sg"></p>
     
     <label for="small_forward">Small Forward:</label>
     <p><input type="text" name="small_forward"></p>
     
     <label for="pf">Power Forward:</label>
     <p><input type="text" name="pf"></p>
     
     <label for="center">Center:</label>
     <p><input type="text" name="center"></p>
     
     <input type="submit" value="Submit" id="Submit">
   </form>
 </body>
</html>


